@tailwind base;
@tailwind components;
@tailwind utilities;

.light{
  --primary-color:#F5F9FC;
  --secondary-color: #233787;
  --buttons-color:#1B2A49;
  --sky-blue : #6b8de9;
  --black-color: #23262A;
  --footer-bg: #1B2A49 ;

}